.home {
  padding: 8vh 4vw;
  width: calc(100vw - 186px);
  section {
    display: flex;
    justify-content: space-between;
  }
  .ui.cards>.card {
    margin-top: 1rem;
    width: 525px;
    @extend .box;
    > .content {
      border: none;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;
      text-align: left;
      color: $dark;
      padding: 30px 40px;
      .header {
        font-size: 20px;
        font-weight: bold;
      }
      .btn {
        margin-top: 5vh;
      }
    }
  }
  .ui.cards>.card > .content:first-child {
    border-radius: 4px;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,.06);
    height: 72px;
    align-items: center;
    display: flex;
  }
}

@media only screen and (max-width: 320px) {
  .home-section .scroll {
    position: inherit;
    bottom: 0;
    left: 0;
    a { 
      top: 50px; 
    }
  }
  #contactenos {
    padding-left: 0vw;
    padding-right: 0vw;
    height: 116vh;
  }
}
@media only screen and (max-width: 768px) and (min-width: 321px) {
  .home-section {
    height: 120vh;
  }
  .home-section .scroll {
    left: 80%;
  }
}