.internal-page {
  background: linear-gradient(180deg, $dark 56vh, #FFFFFF 0);
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  &.register {
    background: none;
    justify-content: flex-start;
    min-height: 88vh;
    padding-top: 0;
  }
  .divider {
    display: block;
    width: 246px;
    height: 3px;
    background: linear-gradient(90deg, $light-green 150px, $dark-green 0);
  }
  h2 {
    font-weight: bold;
    font-size: 42px;
    line-height: 53px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 13px;
    padding-bottom: 20px;
  }
  .content {
    width: 69.25vw;
  }
  .sub-header {
    display: flex;
    flex-direction: row;
    .left-content {
      width: 19vw;
      margin-right: 3vw;
      p {
        padding-top: 8.5vh;
        font-weight: bold;
        line-height: 1.39;
        letter-spacing: 0.3px;
        text-align: left;
        color: $dark-green;
        font-size: 18px;
      }
    }
  }
  .main-content {
    padding-top: 5vh;
    column-count: 2;
    padding-bottom: 20vh;
    p {
      color: $dark;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      &.list-item {
        font-weight: bold;
        color: $dark-green;
        font-size: 17px;
      }
      span {
        font-weight: bold;
      }
    }
  }
}
@media only screen and (max-width: 320px) {
  .internal-page .sub-header {
    flex-direction: column;
  }
  .internal-page .content {
    width: 77.4vw;
  }
  .internal-page {
    background: linear-gradient(180deg, $dark 78vh, #FFFFFF 0);
      .divider {
        background: linear-gradient(90deg, $light-green 122px, $dark-green 0);
      }
  }
  .internal-page .main-content {
    padding-top: 38vh;
    column-count: 1;
  }
  .internat-page .content {
    width: 75.25vw !important;
  }
  .internal-page .sub-header .left-content {
    width: 100%;
    margin-right: 0vh;
  }
  .internal-page .sub-header .left-content p {
    position: absolute;
    padding-top: 50.5vh;
  }
  .internal-page .sub-header .right-content {
    img {
      width: 86vw;
      margin-left: -4.6vw;
    }
  }

  footer {
    height: 22vh !important;
    flex-direction: column-reverse;
    padding-right: 8.3vw !important;
    .right-content {
      ul {
        margin-top: 2vh; 
      }
    }
    .left-content{
      margin-bottom: 2vh;
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 321px) {
  .internal-page {
    background: linear-gradient(180deg,#1f1f1f 66vh,#fff 0);
  }
  .internal-page .main-content {
    padding-top: 20vh;
  }
  .internal-page .sub-header .left-content {
    width: 100%;
  }
  .internal-page .sub-header .right-content {
    img {
      width: 38vw;
    }
  }
  .internal-page .sub-header .left-content p {
    position: absolute;
    padding-top: 5.5vh;
    line-height: 1.2;
    width: 75vw;
  }

}