* {
  margin: 0;
  padding: 0;
}

body {
  color: #1f1f1f;
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  background-color: $light;
}

h1, h2 {
  color: #FFF;
}

a, a:focus, a:hover, a:visited {
  color: #fff;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.ui.message {
  position: absolute;
  z-index: 9;
  opacity: 0.8;
}

.ui.form {
  .ui.message {
    position: relative;
  }
}

.pointer-menu {
  display: flex;
  position: fixed;
  flex-direction: column;
  z-index: 9999;
  right: 4vw;
  top: 45vh;
}

.oval {
  cursor: pointer;
  width: 11px;
  height: 11px;
  border: solid 1px #e0e0e0;
  border-radius: 50%;
  opacity: 0.6;
  margin-bottom: 11px;
  &.filled {
    background-color: $light-green;
  }
}
.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.btn {
  cursor: pointer;
  font-family: 'Hind', sans-serif !important;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 73px;
  background-image: linear-gradient(to right, $light-green, $dark-green);
  .icon {
    position: relative;
    top: -2px;
  }
  &.edit, &.cancel-edit {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: $dark-gray;
    background-image: none;
    width: 117px;
    height: 46px;
    border-radius: 73px;
    border: 1px solid $yard-green;
    text-transform: none;
    background: none;
    &:hover, &:focus {
      background: none;
    }
  }
  &.cancel-edit {
    border-color: $dark;
  }
  &.save, &.save:focus, &.save:hover {
    font-size: 14px;
    font-weight: bold;
    color: $yard-green;
    width: 178px;
    height: 42px;
    border-radius: 73px;
    background-image: linear-gradient(to right, rgba(0, 104, 56, 0.12), rgba(139, 197, 63, 0.12));
    text-transform: uppercase;
  }
  &.default {
    width: 142px;
    height: 38px;
  }
  &.large {
    font-size: 14px;
    width: 259px;
    height: 55px;
  }
  &.disabled {
    cursor: not-allowed;
    background: $inactive;
    border: 1px solid #c2c2c2;
  }
  &.cancel {
    color: $dark;
    background: none;
    width: inherit;
    height: inherit;
    border: none;
    display: inline-flex;
    margin-top: 5vh;
  }
}

.menu {
  flex-grow: 2;
  ul {
    justify-content: flex-end;
    li > a {
      color: rgba(255, 255, 255, 0.97);
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      padding-left: 20px;
    }
    li:last-child > a {
      padding-right: 40px;
    }
  }
}

.logo {
  flex-grow: 1;
  padding-left: 76px;
}

.action-btn {
  flex-grow: 1;
}

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 15vh;
  z-index: 9999;
  &.secondary-page {
    position: relative;
    background-color: $dark;
  }
}

.home-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: content-box;
  justify-content: center;
  padding-left: 15vw;
  padding-right: 15vw;
  position: relative;
  h2 {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.18;
    text-align: left;
    text-transform: uppercase;
  }
  p {
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.65;
    margin-bottom: 5vh;
  }
  .scroll {
    position: absolute;
    bottom: 0;
    left: 45%;
    a {
      position: relative;
      bottom: 20px;
      left: 50%;
      z-index: 2;
      display: inline-block;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #fff;
      font : normal 400 20px/1 'Josefin Sans', sans-serif;
      letter-spacing: .1em;
      text-decoration: none;
      transition: opacity .3s;
      padding-top: 60px;
      &:hover {
        opacity: .5;
      }
      span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 46px;
        height: 46px;
        margin-left: -23px;
        border: 1px solid #fff;
        border-radius: 100%;
        box-sizing: border-box;
      }
      span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        width: 16px;
        height: 16px;
        margin: -12px 0 0 -8px;
        border-left: 1px solid $light-green;
        border-bottom: 1px solid $light-green;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
      }
      span::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: '';
        width: 44px;
        height: 44px;
        box-shadow: 0 0 0 0 rgba(255,255,255,.1);
        border-radius: 100%;
        opacity: 0;
        -webkit-animation: sdb03 3s infinite;
        animation: sdb03 3s infinite;
        box-sizing: border-box;
      }
      @-webkit-keyframes sdb03 {
        0% {
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        60% {
          box-shadow: 0 0 0 60px rgba(255,255,255,.1);
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes sdb03 {
        0% {
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        60% {
          box-shadow: 0 0 0 60px rgba(255,255,255,.1);
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}

.divider {
  display: flex;
  width: 334px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background: linear-gradient(90deg, $light-green 149px, $dark-green 0);
  height: 3px;
}

@media only screen and (max-width: 320px) {
  .ui.container {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
  .pointer-menu {
    display: none;
  }
  .home-section {
    height: 190vh;
    h2 {
    font-size: 2.2rem;
    }
  }
  .divider {
    width: 100%;
    background: linear-gradient(90deg, $light-green 109px, $dark-green 0);
  }
  .btn.large {
    width: 222px;
  }
}