<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="//digitalglobe-marketing.s3.amazonaws.com/web/fonts/fonts-all.css"/>
    <link rel="stylesheet" href="./style/font-awesome.min.css">
    <link rel="stylesheet" href="./style/leaflet.css">
    <link rel="stylesheet" href="./style/leaflet.draw.css">
    <title>Cloud Cover</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="//cdn.polyfill.io/v2/polyfill.min.js"></script>
  </body>
</html>
